@font-face {
    font-family: ProximaNova;
    font-weight: 100;
    src: url(/ext/pageclients/views/theme/fonts/ProximaNovaLight.otf);
    src: local(ProximaNovaLight), url(/ext/pageclients/views/theme/fonts/ProximaNovaLight.otf);
}
@font-face {
    font-family: ProximaNova;
    font-weight: 300;
    src: url(/ext/pageclients/views/theme/fonts/ProximaNovaRegular.otf);
    src: local(ProximaNovaRegular), url(/ext/pageclients/views/theme/fonts/ProximaNovaRegular.otf);
}
@font-face {
    font-family: ProximaNova;
    font-weight: 400;
    src: url(/ext/pageclients/views/theme/fonts/ProximaNovaSemibold.otf);
    src: local(ProximaNovaSemibold), url(/ext/pageclients/views/theme/fonts/ProximaNovaSemibold.otf);
}
@font-face {
    font-family: ProximaNova;
    font-weight: 500;
    src: url(/ext/pageclients/views/theme/fonts/ProximaNovaBold.otf);
    src: local(ProximaNovaBold), url(/ext/pageclients/views/theme/fonts/ProximaNovaBold.otf);
}
@font-face {
    font-family: ProximaNova;
    font-weight: 600;
    src: url(/ext/pageclients/views/theme/fonts/ProximaNovaExtrabold.otf);
    src: local(ProximaNovaExtrabold), url(/ext/pageclients/views/theme/fonts/ProximaNovaExtrabold.otf);
}
html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: ProximaNova;
}
.containerFirst {
    height: 100%;
}
a:hover, a:focus, a:active{
    text-decoration: none;
}
:focus, a:focus {
    outline: none;
}
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.cart li,
.searsh li {
    width: 100%;
}
.logo,
.sc_section .staffMiniCapt,
.specialPrice .staffMiniCapt,
.pProcedureParent .staffMiniCapt {
    text-align: center;
}
.pageContent,
.bigBanner,
.pProcedureParent, .textMainPage, .wePageStaff, .aboutUsDiv, .pageContact, .howWeFound, .contactQuestion, .divServProfile, .staffSlider, .carousel-inner>.item, .moreWorkStaff, .servisesIndexStaff, .contentOtherPage{
    float: left;
    width: 100%;
}
.pProcedureParent, .textMainPage, .wePageStaff, .aboutUsDiv, .pageContact, .moreWorkStaff, .contentOtherPage{
    padding: 100px 0;
}


.headerMini li {
    float: left;
    margin: 15px 0;
}
.headerMini {
    background-color: #293364;
    float: left;
    width: 100%;
}
.headerMini a {
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    color: rgba(255, 255, 255, 0.4);
    width: 29px;
    height: 29px;
    float: left;
    transition: .5s;
    margin-right: 5px;
    text-align: center;
}
.headerMini .fa {
    float: left;
    width: 100%;
    line-height: 1.8;
    font-size: 14px;
}
.headerMini a:hover {
    color: #ff8dae;
    border: 2px solid #ff8dae;
    transition: .5s;
}
.headerMini .login a:hover {
    border: 2px solid rgba(255, 255, 255, 0.2) !important;
}
.headerMini .login a {
    color: rgba(255, 255, 255, 0.4) !important;
}
.login {
    margin-right: 35px;
}
.social {
    float: left;
}
.login {
    float: right;
}
.headerMini .login a span {
    color: rgba(255, 255, 255, 0.4) !important;
    transition: .5s;
}
.headerMini .login:hover a span {
    color: #ff8dae !important;
    transition: .5s;
}
.headerMini .login a:before {
    font: normal normal normal 14px/1 FontAwesome;
    width: 100%;
    line-height: 1.8;
    font-size: 14px;
    margin-left: 6px;
    margin-right: 15px;
    content: "\f090";
}
.cart {
    float: right;
    width: 30%;
}
.cart p {
    float: right;
    margin: 0;
    padding: 6px 0 0 0;
}
.searsh {
    float: right;
    width: 30%;
}
.cart a:hover .fa {
    transition: border 0.5s ease;
    border: 2px solid #ff8dae;
}
.cart a:hover {
    border: none;
}
.cart a {
    border: none;
    width: 100%;
    margin-right: 0;
}
.cart .fa {
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    width: 29px;
}
.searsh a {
    width: 0%;
    border: none;
    border-radius: 0;
    margin-right: 0;
    position: relative;
    float: right;
    padding: 0 40px 0 0;
}
.searsh .fa-search {
    position: absolute;
    left: 0;
    width: 29px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
}
.headerSearch {
    border: none;
    background: transparent;
    width: 0%;
    height: 100%;
    float: right;
}
.searsh a:hover {
    color: rgba(255, 255, 255, 0.4);
    border: none !important;
}
.searsh .fa-times {
    position: absolute;
    right: 0;
    width: 29px;
    font-size: 12px;
    top: 5px;
    opacity: 0;
}
.searsh a.maxWidth {
    width: 100%;
}
.headerSearch.maxWidthInput {
    width: 75%;
}
.searsh .fa-times.showClose {
    opacity: 1;
}
.header {
    float: left;
    width: 100%;
    background: #F7F7F7;
    padding: 30px 0;
}
.work p {
    color: #2b2459;
    margin: 0;
    line-height: 1;
    font-size: 14px;
    float: left;
    width: 85%;
    text-align: right;
    position: relative;
    top: 15px;
}
.work span {
    font-size: 12px;
    color: #acb4b6;
    float: left;
    width: 85%;
    text-align: right;
    position: relative;
    top: 15px;
}
.work .fa {
    float: right;
    color: #acb4b6;
    font-size: 34px;
    width: 15%;
    text-align: right;
}
.logo img {
    max-width: 60%;
    width: inherit;
    -webkit-filter: brightness() hue-rotate(2deg);
}
.phone .fa {
    float: left;
    color: #acb4b6;
    font-size: 34px;
    width: 15%;
    text-align: left;
    position: relative;
    top: 15px;
}
.phone span {
    font-size: 12px;
    color: #acb4b6;
    float: left;
    width: 85%;
    position: relative;
    top: 15px;
}
.phone p {
    color: #2b2459;
    margin: 0;
    line-height: 1;
    font-size: 14px;
    float: left;
    width: 85%;
    position: relative;
    top: 15px;
}
.staffBigCapt,
.captWorkStaff {
    color: #2b2459;
    text-align: center;
    /* font-family: 'Playfair Display', sans-serif; */
    font-size: 60px;
    font-weight: 300;
    margin: 0 0 10px;
}
.sc_section img {
    border-radius: 50%;
    max-width: 100%;
    max-height: 292px;
    height: 200px;
}
.staff {
    text-align: center;
}
.menuLink a.dropdownlink:after {
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f107";
    display: block;
    position: absolute;
    left: 49%;
}
.menuLink a {
    line-height: 1;
    display: block;
    color: #a8a7a7;
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    padding: 35px 35px;
    transition: all .4s ease-out;
    position: relative;
}
.menuLink li {
    position: relative;
    margin: 0 auto;
    display: inline-block;
}
.dropdownMenuLink a {
    font-size: 14px;
    text-transform: none;
    font-weight: 300;
    color: #909090;
    padding: 8px 0;
    text-align: left;
}
.dropdownMenuLink a:after {
    content: '';
}
.backgroundMenu {
    float: left;
    width: 100%;
    border-bottom: 3px solid #f7f7f7;
}
.menuLink {
    float: left;
    width: 100%;
    text-align: center;
    line-height: 1;
}
.dropdownMenuLink {
    position: absolute;
    left: 0;
    z-index: 9;
    top: 100%;
    display: none;
}
.menuLink li:hover .dropdownMenuLink {
    display: block;
    background: #F7F7F7;
    padding: 15px 10px;
}
.menuLink li:hover a {
    color: #ff8dae;
}
.menuLink li:hover .dropdownMenuLink a {
    color: #909090;
}
.dropdownMenuLink a:hover {
    color: #ff8dae !important;
}
.backgroundStaff {
    float: left;
    width: 100%;
    background: #f5f7f9;
    padding: 100px 0;
}
.staffBigCapt:after {
    content: '';
    display: block;
    margin: 35px auto 15px;
    height: 3px;
    background-image: url("../images/title_underline.png");
    background-repeat: no-repeat;
    background-position: center center;
}
.staffMiniCapt {
    font-size: 18px;
    line-height: 30px;
    color: #525252;
    font-style: italic;
    font-family: 'Playfair Display', sans-serif;
    margin-bottom: 100px;
    text-align: center;
}
.staffParent {
    padding: 0 15px;
    min-height: 350px;
}
.staffPage .fa {
    background: #293364;
    color: #fff;
    padding: 22px;
    border-radius: 50%;
    line-height: 0.5;
    transition: .5s;
    font-size: 20px;
    display: inline-block;
}
.staffPage a {
    float: right;
    width: 100%;
    text-align: center;
    position: relative;
    top: -40px;
    right: -55px;
    margin-bottom: -20px;
}
.staffPage a:hover .fa {
    background: #FF8DA7;
    transition: .5s;
}
.staffCapt p {
    font-family: 'Playfair Display', sans-serif;
    color: #2b2459;
    margin: 0;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    padding: 0;
    text-transform: uppercase;
}
.staffCapt span {
    color: #ff8dae;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 1px;
    padding: 0 0 3px;
    text-transform: uppercase;
}
.staffCapt {
    text-align: center;
}
.specialPrice {
    float: left;
    width: 100%;
    background: #293364;
    padding: 100px 0;
}
.divSpPrice {
    background: #fff;
    text-align: center;
    padding-bottom: 30px;
}
.specialPrice .staffBigCapt,
.specialPrice .staffMiniCapt {
    color: #fff;
}
.pricePlus {
    font-family: 'Playfair Display', sans-serif;
    color: #FF8DAE;
    font-size: 25px;
    margin: 35px 0;
    text-align: center;
    font-weight: 600;
    line-height: 0;
}
.img_hoverSp {
    position: absolute;
    width: 70%;
    top: 98px;
    transition: .5s;
    left: 0;
    right: 0;
    opacity: 0;
    margin: 0 auto;
}
.img_Sp {
    max-width: 90%;
    margin: 0 auto;
    display: block;
    max-height: 160px;
}
.divSpPrice a,
.toProcedure {
    margin: 0 auto;
    display: inline-block;
    background: #293364;
    color: #fff !important;
    font-size: 12px;
    font-weight: 600;
    position: relative;
    transition: .5s;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 16px 30px;
}
.divSpPrice a:after,
.toProcedure:after {
    content: "\f105";
    font: normal normal normal 14px/1 FontAwesome;
    top: 50%;
    right: 30px;
    position: absolute;
    transition: .5s;
    margin: -2px 0 0 0;
    line-height: 0;
    opacity: 0;
}
.divSpPrice a:hover,
.toProcedure:hover {
    transition: .5s;
    background: #3C4886;
    padding: 16px 35px 16px 25px;
    color: #fff;
}
footer {
    float: left;
    padding: 20px 0;
    width: 100%;
    background: #212950;
}
.priceCaptSp {
    margin: 0;
    color: #fff;
    background: #ff8dae;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 20px 10px 0;
    height: 80px;
}
.hoverPriceSp:hover .img_hoverSp {
    opacity: 1;
    transition: .5s;
}
.divSpPrice a:hover:after,
.toProcedure:hover:after {
    font-weight: 600;
    opacity: 1;
    right: 20px;
    transition: .5s ease-out;
}
.hoverPriceSp {
    height: 180px;
    margin-top: 20px;
}
.contact {
    float: left;
    width: 100%;
    background: #fff;
    padding: 100px 0;
}
.contact iframe, .pageContact iframe{
    width: 100%;
    border: 20px solid #293364;
    height: 400px;
}
.contactInformation {
    color: #8A8989;
    font-weight: 300;
    padding-left: 80px;
}
.contactInformation .fa {
    font-size: 25px;
    float: left;
    width: 7%;
}
.contactInformation p {
    margin: 20px 0;
    float: left;
    width: 100%;
    font-size: 15px;
}
.contactInformation span {
    float: left;
    width: 93%;
    margin-bottom: 15px;
    padding-top: 4px;
}
.contactInformation .staffBigCapt {
    text-align: left;
    padding-top: 0;
}
.scrollUp {
    z-index: 9;
    position: fixed;
    right: 15px;
    bottom: 0;
    font-size: 30px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 2px 0;
    cursor: pointer;
    color: #e1e0e0;
    border: 2px solid #e1e0e0;
    text-align: center;
}
.loginFooter li {
    float: left;
    margin-right: 10px;
}
.loginFooter a {
    color: #fff;
    border: 1px solid #FF8DAE;
    border-radius: 50%;
    font-size: 18px;
    background: #FF8DAE;
    width: 35px;
    height: 35px;
    display: block;
    padding: 6px 0;
    text-align: center;
}
.loginFooter p {
    color: #acb4b6;
    margin: 20px 0;
    display: block;
    font-weight: 300;
}
.loginFooter img {
    width: 80%;
    margin: 0 auto;
    display: block;
}
.loginFooter a:hover {
    background: #4D5473;
    border: 1px solid #4D5473;
}
.footerAfter {
    background: #293364;
    float: left;
    width: 100%;
    padding: 20px 0;
    color: #fff;
}
.footerCaptDiv {
    text-transform: uppercase;
    font-weight: 600;
    float: 17px;
    color: #fff;
}
.scrollUp:hover {
    color: #FF8DAE;
    border: 2px solid #FF8DAE;
}
.scrollUp .fa {
    display: block;
    line-height: 1;
}
/*BREADCOMS*/

.BreadcrumbList {
    padding: 10px 0;
    font-size: 13px;
    color: #93909c;
    float: left;
    width: 100%;
    line-height: 1;
}
.speedBar a {
    display: inline-block;
    color: #93909c;
    text-decoration: none;
}
/*BREADCOMS*/

.backgroundPrInfoStaff {
    background: #f5f7f9;
    float: left;
    width: 100%;
    margin-top: 50px;
    padding-top: 100px;
}
.nivoSlider {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.nivoSlider img {
    position: absolute;
    top: 0px;
    left: 0px;
    max-width: none;
    /* min-height: 671px; */
}
.nivo-main-image {
    display: block !important;
    position: relative !important;
    width: 100% !important;
}
.nivoSlider a.nivo-imageLink {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border: 0;
    padding: 0;
    margin: 0;
    z-index: 6;
    display: none;
    background: white;
    filter: alpha(opacity=0);
    opacity: 0;
}
.nivo-slice {
    display: block;
    position: absolute;
    z-index: 5;
    height: 100%;
    top: 0;
    /* height: 671px !important; */
}
.nivo-box {
    height: 671px !important;
    display: block;
    position: absolute;
    z-index: 5;
    overflow: hidden;
}
.nivo-box img {
    display: block;
}
.nivo-caption {
    position: absolute;
    left: 0px;
    bottom: 0px;
    background: #000;
    color: #fff;
    width: 100%;
    z-index: 8;
    padding: 5px 10px;
    opacity: 0.8;
    overflow: hidden;
    display: none;
    -moz-opacity: 0.8;
    filter: alpha(opacity=8);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.nivo-caption p {
    padding: 5px;
    margin: 0;
}
.nivo-caption a {
    display: inline !important;
}
.nivo-html-caption {
    display: none;
}
.nivo-directionNav a {
    position: absolute;
    top: 45%;
    z-index: 9;
    cursor: pointer;
    background: rgba(249, 249, 249, 0.36);
    line-height: 2.3;
    font-size: 23px;
    width: 50px;
    color: #293364;
    height: 50px;
    transition: .5s;
    text-align: center;
    opacity: 0;
}
.nivo-prevNav {
    left: 0;
}
.nivo-nextNav {
    right: 0;
}
.nivo-controlNav {
    text-align: center;
    background: #293364;
}
.nivo-controlNav a {
}
.nivo-controlNav a.active {
    font-weight: bold;
}
.pProcedureParent .divSpPrice {
    margin-bottom: 30px;
    padding-bottom: 0;
    min-height: 200px;
}
.pProcedureImg {
    float: left;
    width: 45%;
}
.pProcedureImg .img_Sp {
    max-width: 100%;
    height: 100px;
    opacity: 0.8;
}
.pProcedureCaption {
    float: right;
    width: 55%;
    line-height: 1;
    font-size: 16px;
}
.pProcedureMini {
    float: right;
    width: 100%;
    line-height: 1;
    font-size: 12px;
    text-align: justify;
    color: #A7A7A7;
    font-weight: 300;
}
.pProcedurelink {
    padding: 8px 0 !important;
    margin: 10px auto 0 !important;
    float: right;
    width: 52%;
}
.pProcedurelink:hover {
    padding: 8px 35px 8px 25px !important;
}
.pProcedureParent .divSpPrice:hover .pProcedureCaption {
    color: #FF8DAE;
}
.pProcedureParent .divSpPrice:hover .pProcedureImg .img_Sp {
    opacity: 1;
}
.profileStafImg {
    max-width: 90%;
}
.informationStaff p, .captionPrInfo{
    font-size: 20px;
    font-weight: 300;
}
.informationStaff span {
    float: left;
    width: 100%;
    color: #828282;
    font-weight: 300;
    font-size: 15px;
}
.informationStaff span b {
    width: 26%;
    float: left;
    margin-right: 10px;
}
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgb(255, 141, 174);
}
.toProcedure {
    margin-top: 10px;
    min-width: 255px;
    min-height: 54px;
}
.nivo-control{margin: 0 5px;border: 2px solid #293364;border-radius: 50%;color: #FFF;background: #293364;line-height: 1;cursor: pointer;position: relative;width: 12px;height: 12px;display: inline-block;bottom: 30px;z-index: 9;font-size: 0;}
.nivo-control:hover{
    background: #F58CAA;
    border: 2px solid #F58CAA;
}
.myProcedure{

    float: right;

    width: 52%;

    line-height: 2.8;

    background: #E1E2E2;

    border-bottom: 1px solid #C5C5C5;

    vertical-align: top;

    font-size: 14px;

    min-height: 40px;
}
.captWorkStaff{

    font-size: 38px;

    font-family: ProximaNova;

    font-weight: 400;

    margin: 30px 0;

    line-height: 1;
}
.myProcedureB{

    background: #C5C5C5;

    width: 48%;

    font-size: 13px;

    padding: 5px;

    float: left;

    min-height: 40px;

    line-height: 1;

    border-bottom: 1px solid #E1E2E2;
}
#staffProcedure input[type="text"]{

    width: 80%;

    margin: 20px auto;

    display: block;

    height: 30px;

    border: 1px solid #FF8DAE;

    border-radius: 3px;

    padding: 5px;

    font-weight: 300;

    font-size: 13px;
}
#staffProcedure input[type="submit"]{

    margin: 0 auto 30px;

    display: block;

    background: #293364;

    border: none;

    color: #fff;

    width: 80%;

    border-radius: 3px;

    padding: 0;

    height: 30px;

    font-size: 16px;

    font-weight: 300;

    letter-spacing: 1px;
}
#staffProcedure input[type="text"]:hover{

    border: 1px solid #293364;
}
#staffProcedure input[type="submit"]:hover{

    background: #3C4886;
}
button.close{
    font-size: 30px;
}
.pProcedureParent .img_Sp{
    max-width: 100%;
}
.pProcedureParent .priceCaptSp{

    font-size: 13px;

    padding: 15px 10px 0;

    height: 60px;

    font-weight: 400;
}
.pProcedureParent .pProcedurelink{

    width: 100%;
}
.hoverPriceSp {
}
#slider:hover .nivo-nextNav{
    opacity: 1;
    right: 55px;
}
#slider:hover .nivo-prevNav{
    opacity: 1;
    left: 55px;
}
.nivo-directionNav a:hover{
    background: rgba(249, 249, 249, 0.54);
}
.profileOtherStaff .divSpPrice{
    background: #F5F7F9;
}
.profileOtherStaff .img_Sp{
    border-radius: 50%;
    max-height: 200px;
}
.profileOtherStaff{
    margin-top: 0;
    padding-top: 0;
}
#staffProcedure iframe{
    width: 100%;
    height: 100%;
    min-height: 100%;
    border: none;
}
#staffProcedure .modal-dialog{
    width: 100%;
    height: 100%;
    margin: 0;
}
#staffProcedure .modal-content, #staffProcedure .modal-body{
    height: 100%;
    padding: 0;
    border: none;
}
#staffProcedure .modal-header {
    position: absolute;
    right: 0;
    left: 0;
    padding: 0;
    border: none;
    z-index: 999;
    line-height: 1;
    background: #fff;
}
#staffProcedure .modal-header p{

    float: left;

    width: 92%;

    margin: 0;

    font-size: 22px;

    padding: 7px 10px 0;

    line-height: 1;
}
#staffProcedure .modal-header button.close{

    margin: 0;

    float: right;

    width: 8%;

    padding: 7px 0 0;

    font-size: 18px;

    font-weight: 400;
}
#staffProcedure {
    overflow: hidden;
}
.profileOtherStaff .divSpPrice a{

    padding: 0;

    background: transparent;
}
.backgroundPrInfoStaff .divSpPrice {
    background: #F5F7F9;
}
.backgroundPrInfoStaff .priceCaptSp{
    height: 60px;
}
.backgroundPrInfoStaff .divSpPrice a{
    margin: 10px auto 0;
    width: 100%;
}
.stProfileSocial li{
    width: 10%;
    float: left;
    text-align: center;
}
.stProfileSocial .fa{

    color: #fff;

    background: #293364;

    padding: 8px 0;

    border-radius: 50%;

    width: 30px;

    height: 30px;
}
.stProfileSocial{
    float: left;
    width: 100%;
    margin: 30px 0 0;
}
.stProfileSocial .fa:hover{
    background: #FF8DA7;
}
.divSpPrice .imgLinkCategory{
    background: transparent !important;
    padding: 0 !important;
}
.howWeFound p{

    float: left;

    width: 100%;

    text-align: center;

    margin: 20px 0;

    font-size: 16px;

    color: #212950;
}
.howWeFound span{

    float: left;

    width: 100%;

    text-align: center;

    line-height: 1;

    color: #A2A2A2;

    font-weight: 300;
}
.howWeFound .fa{

    float: left;

    width: 100%;

    text-align: center;

    font-size: 40px;

    color: #FF8DAE;
}
.howWeFound{
    background-color: #f6f6f6;
}
.howWeFound, .contactQuestion{
    padding: 50px 0 70px;
}
.contactMaxWidth input[type="text"]{

    border: 2px solid #E2E2E2;

    height: 40px;

    font-size: 13px;

    width: 96%;

    padding: 3px 10px;

    margin-bottom: 20px;
}
.contactBtnSubmit{

    background: #FF8DAE;

    border: none;

    color: #fff;

    margin: 0 auto;

    display: block;

    padding: 9px 88px;
}
.contactTextarea{

    float: left;

    width: 98%;

    border: 2px solid #E2E2E2;

    padding: 10px;

    height: 150px;

    margin-bottom: 15px;
}
.contactMaxWidth{

    float: left;

    width: 50%;
}
.contactBtnSubmit:hover{
    background: #4D5473;
}
.dropdownMenuLink li{
    width: 100%;
    position: relative;
}
.subDropdownMenuLink{

    position: absolute;

    left: 100%;

    background: #F7F7F7;

    padding: 7px 10px;

    min-width: 200px;

    display: none;

    top: 0;
}
.dropdownMenuLink li:hover .subDropdownMenuLink{
    display: block;
}
.nivo-directionNav a .fa{

    height: 50px;

    line-height: 2;
}
.divServProfile{
    /* margin-bottom: 100px; */
}
.staffCapt b span{
    font-weight: 600;
}
.parentSlStaffPag img{

    max-width: 100px;

    border-radius: 50%;
}
.parentSlStaffPag{
    margin: 40px 0 0;
}

.parentSlStaffPag p{

    float: left;

    width: 60%;

    margin: 0;

    line-height: 1;

    color: #BB5F79;

    font-weight: 300;

    margin-top: 4px;

    font-size: 15px;
}
.SlStaffCapt{

    text-transform: uppercase;

    color: #fff !important;

    font-size: 16px !important;

    font-weight: 300 !important;

    letter-spacing: 1px;
}
.staffSlider{
    background: #ff8dae;
}
.glyphicon-chevron-left:before{
    content: '';
}
.glyphicon-chevron-right:before{
    content: '';
}
.stImgSl{

    float: left;

    width: 40%;

    text-align: right;

    padding-right: 30px;

}
.staffSlider .carousel-control.right, .staffSlider .carousel-control.left{
    background-image: none !important;
    top: 50%;
    bottom: inherit;
}
.staffSlider .glyphicon{
    display: none;
    background: rgba(255, 255, 255, 0.42);
    width: 35px;
    height: 35px;
    text-align: center;
    color: #000;
}
.staffSlider:hover .glyphicon{
    display: block;
}
.staffSlider .glyphicon .fa{
    position: relative;
    top: 0px;
    right: 3px;
    font-size: 24px;
}
.staffBigCapt{
    /*padding-top: 100px;*/
}
.staffSlider .container{

    margin-bottom: 50px;

    border: 3px solid #E07493;

    padding: 40px;

    margin-top: 50px;
}
.staffSlider .container .staffBigCapt{
    color: #fff;
    padding-top: 0;
}
.stafDopInfaCapt{
    width: 100%;
    float: left;
    text-align: center;
    color: #fff;
    font-size: 18px;
    font-style: italic;
    font-family: 'Playfair Display', sans-serif;
}
.pageContact iframe {
    margin-bottom: 100px;
}
.staffProfile h1{
    margin: 20px 0;
}
.divSpPrice .imgLinkCategory img{
    max-width: 90%;
}
#staffProcedure .modal-body{
    padding-top: 40px;
}
.preloadBtn{
    width: 26px !important;
    height: 26px !important;
    content: '';
    position: absolute;
    display: none;
    animation: rotate 1.4s infinite ease-in-out, background 1.4s infinite ease-in-out alternate;
    top: 50%;
    left: 50%;
    margin: -13px 0 0 -13px;
}
@keyframes rotate {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    }
    50% {
        transform: perspective(120px) rotateX(-180deg) rotateY(0deg);
    }
    100% {
        transform: perspective(120px) rotateX(-180deg) rotateY(-180deg);
    }
}
@keyframes background {
    0% {
        background-color: #27ae60;
    }
    50% {
        background-color: #9b59b6;
    }
    100% {
        background-color: #c0392b;
    }
}
.toProcedure span{
    color: #fff;
}